/* Global fonts */
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Matemasie&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS variables */
:root {
    --winningBoxColor: rgb(17, 39, 105);
    --darkBoardColor: darkgreen;
    --lightBoardColor: lightblue;
    --discreteBoardColor: lightgrey; 
    --lightTextColor: yellow;
    --darkTextColor: darkblue;
    --primaryFontFamily: "Matemasie";
    --secondaryFontFamily: "Agdasima"; 
}

/* General styling */ 
body{
    background: var(--darkBoardColor);
}

h1 {
    font-family: var(--primaryFontFamily), Arial, sans-serif;
    color: var(--lightTextColor);
}

/* Navbar styling */
.navbar{
    background: var(--darkBoardColor);
    border-bottom: 1px var(--discreteBoardColor) solid;
    font-family: var(--secondaryFontFamily), Arial, sans-serif;
    font-size: 1.5em; 
    color: var(--lightTextColor);
}

/* Modal styling */
.hide {
    display: none;
}

/* Gameboard styling */
.box {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 7rem;
    border: 2.5px solid var(--lightBoardColor);
    font-family: var(--primaryFontFamily), Arial, sans-serif;
    color: var(--lightTextColor);
}

.pScore{
    background-color: var(--lightBoardColor);
    border: 2px solid var(--lightBoardColor);
    border-radius: 4px;
    font-family: var(--primaryFontFamily), Arial, sans-serif;
    color: var(--darkTextColor);
    min-height: 60px;
}

#restartBtn:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

#gameProgress {
background-color: var(--lightBoardColor);
    border: 2px solid var(--lightBoardColor);
    border-radius: 4px;
    font-family: var(--primaryFontFamily), Arial, sans-serif;
    color: var(--darkTextColor);
}

/* Footer styling */
#contact {
    border-top: 1px var(--discreteBoardColor) solid;
    color: var(--lightTextColor);
    font-size: 0.8em;
}

/* Media queries */
@media (min-width: 578.98px) { 
    .container {max-width: 578.98px }
}